body {
    padding-top: 55px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    width:100%;
}

.container-left {
    position: relative;
    /* text-align: left; */
    width:100%;
    padding: 5px 15%;
}

.centered {
    text-align: center;
}

/* Centered text */
.top-center {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.heading {
    font-family: 'Charm', cursive;
    text-align: center;
}

.noborder {
    border-radius: 0;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.centered-image-large {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* height: 100%; */
    border: 2px solid;
}

.padright {
    right-padding: 20px;
}