body {
    min-height: 2000px;
    padding-top: 60px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    width:100%;
}

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Centered text */
.top-center {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

  .title {
    font-family: 'Charm', cursive;
  }